.review-item{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
}
.review-item img{
    width: 91px;
}

.review-item-details p{
    margin: 0;
}

.review-item-details-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}